@font-face {
    font-family: 'Proxima Nova';
    src: url("../fonts/Proxima Nova Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Proxima Nova Alt';
    src: url("../fonts/Proxima Nova Alt Light.otf") format("opentype");
}

@font-face {
    font-family: 'Proxima Nova Alt';
    src: url("../fonts/Proxima Nova Alt Bold.otf") format("opentype");
    font-weight: 700;
}