/*RESPONSIVE*/
@media screen and (max-width: 1260px) {
	.logo{
		padding-left:20px;
	}

	.rate{
		width: 75%;
		padding-right: 40px;
	}

	.rate-price{
		font-size: 22px;
	}

	.tile-l{
		margin-right: 0;
	}

	#new{
		display: flex;
	}

	.subscribe-title{
		padding-right: 30px;
	}

	.footer{
		padding: 20px 20px;
		position: relative;
	}

	.footer-logo{
		height: 60px;
		object-fit: cover;
	}

	.footer-menu{
		padding: 0 30px;
	}

	.footer-term{
		padding-right: 0;
	}

	.rate-item{
		min-width: 18%;
	}

	/*.socmed-item{
		width: 49.5%;
	}*/

	.mansonry{
		-moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
	}

	.mg-si{
		margin-left: 1%;
	}
}

@media screen and (max-width: 1240px) {
	#desktop{
		display: none;
	}

	.tile-desktop{
		display: none;
	}

	.tile-mobile{
		flex-direction: row !important;
	}

	.tile-s{
		width: 49.6%;
	}

	.tile-s .tile-detail{
		display: none;
	}

	.tile-s .tile-title{
		font-size: 12px;
	}

	.first-nav{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#menu{
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		width: 100%;
		min-height: 3px;
	}

	.menu-micon{
		justify-content: center;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-grow: 1;
	}

	#menu #desktop{
		display: none;
	}

	#desktop-search{
		display: none;
	}

	#mobile li a{
		padding-top: 10px;padding-bottom: 10px
	}

	#mobile{
		flex-direction: column;
		position: absolute;
		background-color: #f5f8fb;
		padding-left: 0;
		left:0;
		/*top:68.5px;*/
		border-top: 1px #f5f8fb solid;
		margin:0;
		z-index: 9999;
	}

	.logo{
		display: flex;
		height: 70px;
		padding-left:0px;
	}

	.logo2{
		display: flex;
		height: 70px;
		padding-left:0px;
	}

	.rate{
		padding: 15px 35px 15px 15px;
	}

	.rate-item{
		flex-basis: 16%;
	}

	.rate-title{
		font-size: 16px;
	}

	.rate-price{
		font-size: 20px;
	}

	#section-two{
		padding: 20px 40px;
	}

	#section-two2{
		padding: 20px 40px;
	}

	.tile-s .tile-detail{
		flex-wrap: wrap;
	}

	.article-detail{
		flex-wrap: wrap;
	}

	.subscribe{
		flex-direction: column;
	}

	.subscribe-title{
		padding-right: 0;
	}

	.footer-menu{
		flex-wrap: wrap;justify-content: flex-start;
	}

	.footer-menu a{
		margin-right: 10px;
	}

	.footer-menu a:last-child{
		margin-right: 0;
	}

	.socmed-menu{
		padding: 20px 40px;
	}

	.socmed-menuDO{
		font-size: 11px;
	}

	.socmed-formR .se-group span{
		top: 4px;
	}

	.socmed-formR .s-group span{
		top: 4px;
	}
}

@media screen and (max-width: 980px) {
	.logo{
		height: 60px;
	}

	#desktop{
		display: none;
	}

	.news-line{
		flex-wrap: wrap;
	}

	.rate{
		width: 100%;
		padding: 5px 25px 5px 25px;
	}

	.rate-item{
		flex-basis: 20%;
	}

	.rate-price{
		font-size: 18px;
	}

	.socmed-formR{
		float: left;
		margin-top: 8px;
		margin-left: 85px;
	}

	.socmed-menuDO{
		font-size: 10px;
	}

}

@media screen and (max-width: 820px) {
	.logo{
		height: 60px;
	}

	.slidepage{
		top:20%;
		padding-left: 7px;
		padding-right: 7px;
	}

	.slidepage div img{
		height: 50px;
		width: auto;
	}

	.news-line{
		font-size: 12px;
	}

	.tile-group{
		flex-direction: column;
	}

	.tile-m{
		flex-direction: row;justify-content: space-between;margin-right: 0;
	}

	.tile-s{
		margin-right: 3px;
		flex-grow: 0;
	}

	.tile-s:last-child{
		margin-right:0;
	}

	.rate-item{
		min-width: 15%;
		margin-right: 5px;
	}

	.rate-item:last-child{
		margin-right: 0;
	}

	.rate-price{
		font-size: 16px;
	}

	.rate-item{
		flex-basis: 100%;
		margin-bottom: 15px;
	}

	.rate{
		flex-basis: 100%;
		padding: 5px 15px 5px 15px;
	}

	#section-two{
		flex-direction: column;
	}

	.article-item{
		width: 100%;
	}

	.article-detail{
		font-size: 11px;
	}

	.article-content{
		font-size: 14px;
	}

	.article-linkdet{
		font-size: 14px;
	}

	.subscribe-title{
		font-size: 25px;
		text-align: center;
	}

	.mg-si{
		margin-left: 0;
	}

	/*.socmed-item{
		width: 100%;
	}*/

	.mansonry{
		-moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
	}

	.socmed-menuUP{
		font-size: 12px;
	}
}

@media screen and (max-width: 675px) {
	.rate-group{
		flex-wrap: wrap;
	}

	.rate-item{
		flex-basis: auto;
		min-width: 23%;
		margin-right: 0;
	}

	.rate-desktop{
		display: none;
	}

	.rate-group{
		justify-content: center;
	}

	.socmed-menu{
		padding: 10px 20px 20px 20px;
	}

	.socmed-menuUP > div {
		margin-top: 8px;
	}

	.socmed-menuUP{
		flex-wrap: wrap;
	}

	.socmed-menuUP:after{
		content: none;
	}

	.socmed-formR{
		margin-left: 0;
	}

	.socmed-formR .se-group select{
		padding: 4px 25px 4px 6px;
	}

	.socmed-formR .se-group span{
		right: 16px;
	}

	.socmed-formR .s-group input{
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.s-desktop{
		display: none;
	}

	.s-mobileG{
		display: flex;
	}
}

@media screen and (max-width: 500px) {
	.subscribe{
		padding: 30px 10px;
	}

	.subscribe-input{
		justify-content: center;
	}

	#menu form input{
		width: 210px !important ;
	}

	#section-two{
		padding: 20px 15px;
	}

	.tile-group{
		flex-direction: column;
	}

	.tile-m{
		flex-direction: row;justify-content: space-between;margin-right: 0;
	}

	.tile-s{
		margin-right: 3px;
		flex-grow: 0;
	}

	.tile-s:last-child{
		margin-right: 0;
	}

	.rate{
		padding: 5px 15px 5px 15px;
	}

	.rate-item{
		min-width: 32%;
	}

	.logo{
		height: 60px;
	}

	.socmed-profilegroup{
		flex-direction: column;
	}

	.socmed-profile{
		width: 100%;
	}

	.socmed-engagegroup{
		padding-bottom: 0;
		padding-top: 10px;
		width: 100%;		
	}

	.socmed-engage{
		justify-content: flex-start;
	}

	#section-two2{
		padding: 20px 20px;
	}

	.socmed-photo{
		max-height: 270px;
	}

}

@media screen and (max-width: 470px) {
	.filter-radio{
		margin:0;
	}

	.socmed-contentModal{
		padding: 10px;
	}
}

@media screen and (max-width: 400px) {
	.first-nav{
		padding-left:20px;
		padding-right:20px;
	}

	.rate-item{
		margin-bottom: 8px;	
	}

	.f12{
		font-size: 10px !important;
	}

	.rate-item{
		min-width: 48%;
	}

	.rate-item:last-child{
  		margin-left: 0px;
  	}

	.rate-header{
		font-size: 12px;
	}

	.rate-price{
		font-size: 16px;
	}

	.tile-l .tile-detail{
		flex-wrap: wrap;
	}

	.tile-m{
		flex-direction: column;
	}

	.tile-s{
		margin-right: 0 !important;
	}

	.tile-slide .tile-title a{
		font-size: 20px;		
	}

	.tile-s{
		height: 180px;
	}

	.tile-slide{
		height: 350px;
	}

	.tile-slide.bgwhite{
		height: auto !important;
		padding-bottom:15px !important;
	}

	.subscribe-title{
		font-size: 22px;
	}

	.subscribe-input{
		text-align: center;
	}

	.subscribe-input input{
		font-size: 17px;
		width: 80%;
	}

	.footer{
		flex-direction: column;
	}

	.footer-logogroup{
		flex-direction: row;
		height: 70px;
		justify-content: center;
	}

	.footer-menu{
		padding: 0;
		flex-grow: 1;
		width: 100%;
		justify-content: center;
	}

	.footer-term{
		margin-top: 25px;
		justify-content: center;
	}

	.socmed-menu{
		padding: 20px 20px;
	}

}
/*RESPONSIVE*/

