html {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.description {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 10px solid orange;
}

.b-r-2 {
    border-right: 2px solid #dee2e6;
}

.b-r-1 {
    border-right: 1px solid #8d8583;
}

.b-2 {
    border: 2px solid orange;
}

.b-l-2 {
    border-left: 2px solid #dee2e6;
}

.b-l-3 {
    border-left: 3px solid orange !important;
}

.h-30 {
    height: 30px;
}

.b-orange {
    border-color: orange;
}

.b-white {
    border-color: white;
}

.mr-min50 {
    margin-right: -50px;
}

.w-75-pr {
    width: 75%;
}

.text-footer {
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 14;
    color: orange;
    font-weight: 100;
    text-align: center;
}

.social-b-center {
    border-right: 1px solid orange;
    border-left: 1px solid orange;
}

.w-100-pr {
    width: 100%;
}

.sicoal-comment {
    font-size: 14;
    margin-top: -10px;
}

.line-social {
    border-width: 1px;
    border-color: #8d8583;
    width: 80%;
}

.img-card-lg {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    opacity: 0.75;
}

.img-card-overlay {
    position: absolute;
    width: 50%;
    top: 25%;
    left: 25%;
}

.text-card-lg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 75%;
    color: white;
    font-size: 20;
}

.email-input {
    width: 300px;
    height: 55px;
    background-color: transparent;
    border: 2px solid white;
}

.text-orange {
    color: orange;
}

.text-black {
    color: black;
}

.text-default {
    color: #8d8583;
}

.img-news {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.news-text {
    color: #8d8583;
    font-weight: 300;
}

.news-body {
    padding-left: 0px;
    padding-right: 0px;
}

.news-footer {
    margin-top: -15px;
    font-size: 13;
}

.news-line {
    border-width: 1px;
    border-color: #8d8583;
    width: 75%;
    margin-top: -10px;
}

.font-14 {
    font-size: 14;
}

.line {
    border-width: 2px;
    border-color: orange;
    width: 75%;
}

.line-mt-2 {
    border-width: 2px;
    border-color: orange;
    width: 75%;
    margin-top: -2px;
}

.bb-25-orange {
    border-bottom: 25px solid orange;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #50b379;
}

.num-info {
    color: #50b379;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abs-l-center {
    position: absolute;
    height: 100%;
    top: 45%;
    color: orange;
    left: 20px;
}

.abs-r-center {
    position: absolute;
    height: 100%;
    top: 45%;
    color: orange;
    right: 20px;
}

.mt-min10 {
    margin-top: -10px;
}

.bg-orange {
    background-color: orange !important;
}

.bg-black {
    background-color: black;
}

.control-panel {
    border-right: 1px solid #8d8583;
    border-left: 1px solid #8d8583;
}

.nav-default {
    background-color: orange;
    padding: 10px;
    color: white;
}

.table tbody::-webkit-scrollbar {
    width: 1em;
}

.table tbody::-webkit-scrollbar-track {
    background-color: #d8d1cb;
}

.table tbody::-webkit-scrollbar-thumb {
    background-color: orange;
    outline: 1px solid orange;
}

.table thead,
tfoot {
    background: #f9f9f9;
    display: table;
    width: 100%;
}

.table tbody {
    height: 290px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
}

.table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 0px;
    border-top: 0px;
}

.table {
    margin-bottom: 0px;
    table-layout: fixed;
    margin: auto;
}

.table th {
    padding: .95rem;
    color: white;
    font-size: 19;
    font-weight: 200;
}

.table td {
    padding: 20px;
    color: #8f8485;
    font-size: 19;
    font-weight: 200;
}

.arrow_box {
    position: relative;
}

.arrow_box:after,
.arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: orange;
    border-width: 55px;
    margin-left: -55px;
}

.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: orange;
    border-width: 55px;
    margin-left: -55px;
}

@media only screen and (min-width: 992px) {
    .col-39 {
        flex: 0 0 39%;
        max-width: 39%;
    }
    .col-22 {
        flex: 0 0 22%;
        max-width: 22%;
    }
    .hidden-large {
        display: none;
    }
    .center-justify {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lg-height-750 {
        height: 750px;
    }
    .m-abs-min10 {
        position: absolute;
        bottom: -10px;
    }
    .l-pb-4 {
        padding-bottom: 1.5rem;
    }
    .l-pt-4 {
        padding-top: 1.5rem;
    }
}

@media only screen and (max-width: 992px) {
    .hidden-mobile {
        display: none;
    }
    .m-pr-100 {
        padding-right: 100;
    }
    .m-pl-100 {
        padding-left: 100;
    }
    .m-pb-0 {
        padding-bottom: 0px;
    }
    .m-pb-4 {
        padding-bottom: 1.5rem;
    }
    .m-social {
        margin: 1.5rem;
        padding: 10px;
        border: 5px solid orange;
        border-radius: 15px;
    }
    .m-pt-4 {
        padding-top: 1.5rem;
    }
    .m-order-1 {
        order: -1;
    }
    .m-text-left {
        text-align: left !important;
    }
    .m-text-white {
        color: white !important;
    }
    .m-ml-0 {
        margin-left: 0;
    }
    .m-panel-news {
        background: url('../images/wall-dark.jpg') no-repeat center center fixed;
        color: white;
    }
    .m-bg-orange {
        background-color: orange;
    }
    .m-card-lg {
        border: 7px solid white !important;
        border-radius: 15px;
    }
    .m-card-lg img {
        border-radius: 10px !important;
    }
    .card {
        background-color: transparent;
    }
    .full-mobile {
        width: 100%;
        margin-bottom: 30px;
    }
}