.socmed-menu{
	display: flex;flex-direction: column;padding: 20px 100px;
}

.no-img{
	height: 25px;
}

.socmed-menuUP{
	display: flex;flex-direction: row;font-size: 18px;color: #333;
}

.s-mobilearrowG{
	display: flex !important;flex-grow: 1;justify-content: flex-end;
}

.s-mobilearrow{
	background-color: white;
	border-radius: 5px;
	border:2px solid #dbdbdb;
	padding: 4px 10px;
}

.s-mobilearrow:last-child{
	margin-left: 3px;
}

.s-show{
	display: flex !important;
}

.s-mobileG div{
	display: none;
}

.s-mobileG{
	display: none;
}

.socmed-menuUP div{
	border-bottom: 2px solid #dbdbdb;
	padding: 5px 12px;
	cursor: pointer;
}

.white{
	color:#333 !important;
}

.bgwhite{
	background-color: #fff !important;
	box-shadow: none;
	border: 1px solid #333;
	padding: 0;
	justify-content: flex-start;
}

.norad{
	border-radius: 0 !important;
}

.pad1{
	padding: 15px 20px 0px 20px;
}

.f12{
	font-size: 12px !important;
}

.pad2{
	padding: 0px 20px;
}

.maxheight{
	max-height: 300px;
}

.maxheight2{
	min-height: 150px !important;
	max-height: 150px !important;
}

.boxwhite{
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.55) !important;
}

.socmed-menuUP div:hover{
	color: #023594;
	font-weight: 700;
	border-color: #023594 !important;
}

.socmed-menuUP:after{
	content: "";
	border-bottom: 2px solid #dbdbdb;
	flex-grow: 1;
}

.socmed-menuUP .activeSM{
	color: #023594;
	font-weight: 700;
	border-color: #023594 !important;
}

.socmed-menuDO{
	display: flex;flex-direction: row;margin-top:8px;
}

.filter-toggle{
	cursor: pointer;
}

.filter-radio{
	margin-left: 25px;display: none;
	animation-duration: 0.3s !important;
	flex-direction: row;
}

.filter-radio .radio-group{
	margin-left: 8px;display: flex;flex-direction: row;justify-content: center;align-items: center;
}

.radio-group input{
	margin-top: 0;
}

.radio-group > div{
	margin-left: 5px;
}

.filter-radio .radio-group:first-child{
	margin-left: 0px;
}

.socmed-menuDO form{
	width: 100%;
}

.socmed-formL{
	display: flex;flex-direction: row;margin-top: 4px;float: left;
}

.socmed-formR{
	float: right;display: none;flex-direction: row;
	animation-duration: 0.3s;
}

.socmed-formR .s-group{
	position: relative;
}

.socmed-formR .s-group input{
	background-color: transparent;
	border: 1px solid #dbdbdb;
	padding: 4px 12px 4px 32px;
}

.socmed-formR .s-group span{
	position: absolute;
	top: 7px;
	left: 10px;
	font-size: 16px;
	color: #333;
}

.socmed-formR .se-group{
	position: relative;
}

.socmed-formR .se-group select{
	background-color: transparent;
	border: 1px solid #dbdbdb;padding: 4px 40px 4px 10px;
	margin-right: 8px;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.socmed-formR .se-group span{
	position: absolute;
	top: 7px;
	right: 20px;
	font-size: 16px;
	color: #333;
}

#section-two2{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 50px 100px;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	background: #fff;
}

.socmed-item{
	width: 100%;flex-direction: column;margin-top:25px;cursor: pointer;
}

.mansonry{
	-moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}

.show2{
	display: inline-block;
}

.hide2{
	display: none;
}

.mg-left0{
	margin-left: 0;
}

.mg-si{
	/*margin-left: 3.5%;*/
}

.socmed-tag{
	margin-bottom: 5px;font-weight: 700;
}

.socmed-tag i{
	font-size: 11px;
}

.socmed-content{
	display: flex;flex-direction: column;border-radius: 5px;background-color: #f5f8fb;border: 1px solid #d7d7d7;
}

.socmed-header{
	display: flex;position: relative;width: 100%;
}

.socmed-photo{
	min-height: 200px;max-height:400px;width: 100%;display: flex;
}

.socmed-photoModal{
	min-height: 200px;max-height:450px;width: 100%;display: flex;
}

.socmed-photostyle{
	border-top-left-radius: 5px;border-top-right-radius: 5px;object-fit: cover;object-position: center;width: 100%;
}

.socmed-photostyleModal{
	object-fit: cover;object-position: center;width: 100%;
}

.socmed-modalheader{
	display: flex;width: 100%;flex-grow: 1;margin-bottom: 10px;
}

.socmed-modalHeadergroup{
	display: block;width: 100%;
}

.socmed-modal{
	display: flex;flex-direction: column;
}

.socmed-profileModal{
	display: flex;
	flex-direction: row;
	float: left;
	width: 100%;
}

.socmed-typeModal{
	display: flex;top:0;right: 0;height:50px;border-top-right-radius: 5px;border-bottom-left-radius: 5px;float: right;
}

.socmed-typestyleModal{
	object-fit: contain;height: 100%;
}

.socmed-type{
	display: flex;position: absolute;top:0;right: 0;background: rgba(0,0,0,0.7);height:50px;padding:9px;border-top-right-radius: 5px;border-bottom-left-radius: 5px;
}

.socmed-typestyle{
	object-fit: contain;height: 100%;
}

.socmed-detail{
	padding: 10px 20px
}

.socmed-text{
	font-size: 12px;color: #a2a1a1;
}

.socmed-profilegroup{
	display: flex;flex-direction: row;margin-bottom: 15px;
}

.socmed-profile{
	display: flex;flex-direction: row;width: 50%;
}

.socmed-profilephoto{
	height: 60px;border-radius: 100%;
}

.comment-item{
	padding: 8px 0; border-top: 1px solid #dbdbdb;
}

.socmed-profilephotoComment{
	height: 45px;border-radius: 100%;
}

.socmed-id{
	display: flex;flex-direction: column;margin-left: 8px;justify-content: center;line-height: 1.45em;
}

.socmed-idComment{
	display: flex;flex-direction: row;justify-content: center;line-height: 1.45em;
}

.socmed-detailModal{
	padding: 5px;border-bottom: 1px solid #dbdbdb;display: flex;flex-direction: row;justify-content: space-between;flex-wrap: wrap;
}

.socmed-contentModal{
	padding: 15px 25px;border-radius: 15px;
}

.socmed-usernameComment{
	margin-left: 5px;color: #a2a1a1;font-size: 12px;
}

.socmed-name{
	font-size: 15px;color: #333;font-weight: 700;
}

.socmed-username{
	font-size: 12px;
	color: #a2a1a1;
}

.socmed-engagegroup{
	display: flex;flex-direction: column-reverse;width: 50%;padding-bottom: 10px;font-size: 13px;color: #a2a1a1;
}

.socmed-engagegroupModal{
	display: flex;flex-direction: column-reverse;width: 100%;font-size: 13px;color: #a2a1a1;
}

.socmed-engage{
	display: flex;flex-direction: row;justify-content: flex-end;
}

.socmed-engage span{
	margin-left: 4px;
	margin-right: 9px;
}

.socmed-engage span:first-child{
	margin-left: 0px;
	margin-right: 9px;
}

.socmed-engage span:last-child{
	margin-left: 4px;
	margin-right: 0;
}

.socmed-hashtag{
	color: #56a7fa;margin-top: 10px;
}

#section-four2{
	padding-top: 10px;
	display: flex;
	flex-direction: column;
}